.container {
  padding-bottom: 12rem;
  margin: 0 auto;
  max-width: 75rem;

  @include responsive(tab_medium) {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  @include responsive(phone) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}
