.container {
  font-weight: 600;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 0 2rem;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition-timing-function: ease-in;
  transition: all 1s;

  &__innerWrapper {
    display: flex;
    justify-content: space-between;
  }

  &__rightContent {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      margin-right: 2rem;
      height: 1.6rem;
      color: #fff;
      border-bottom: 2px solid transparent;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: all 0.4s;

      @include responsive(tab_medium) {
        display: none;
      }

      &:hover {
        transition: all 0.4s;
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  width: 6rem;

  @include responsive(tab_medium) {
    width: 4.5rem;
  }

  span {
  }
  &:hover {
    cursor: pointer;
  }
}

.active {
  border-bottom: 2px solid $color-primary !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.default {
}

.mobileMenu {
  position: absolute;
  background-color: #000;
  height: 100vh;
  width: 100vw;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    width: fit-content;

    & > a {
      margin-bottom: 2rem;
    }
  }

  &__social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > a {
      padding: 0 1rem;
    }
  }
}
