.container {
  background-color: $color-primary;
  color: #000;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;

  &__social {
    & > a {
      padding: 1rem;
    }
  }

  p {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
