.container {
  background-color: $color-primary;
  color: #000;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;

  &__social {
    & > a {
      padding: 1rem;
    }
  }

  .developer {
    font-size: 0.9rem;
  }
}
