.container {
  margin-top: 2rem;
  display: flex;
  padding-bottom: 5rem;

  @include responsive(tab_portrait) {
    display: block;
  }

  .imgContainer {
    width: 125rem;
    background-color: $color-primary;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include responsive(tab_portrait) {
      width: auto;
      max-width: fit-content;
      margin: 0 auto;
    }
  }

  .infoTxt {
    margin-left: 4rem;

    @include responsive(tab_portrait) {
      text-align: center;
      margin-left: 0;
      margin-top: 1rem;
    }

    h1 {
      margin: 0;
    }

    p {
      line-height: 1.5;
    }
  }

  .members {
    margin-top: 3rem;
    @include responsive(tab_portrait) {
      margin-top: 1rem;
    }

    p {
      padding: 0;
      line-height: 0.5;
    }
  }
}
