.container {
  margin-top: 7rem;
  display: flex;
  // text-align: center;
}

.left {
  flex-grow: 1;
  // border-right: solid 2px $color-primary;

  .info {
    margin-top: 4rem;
  }

  .infoItem {
    display: flex;
    align-items: center;

    & > :nth-child(2) {
      position: relative;
      left: 1.5rem;
    }
  }
}

.right {
  flex-grow: 1;
}

.icon {
  font-size: 1.4rem;
  color: $color-primary;
}

.divider {
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: $color-primary;
  width: 1.2px;
}
