/* Media query manager */
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 40.5em) {
      // 600px --> 600 / 16
      @content;
    }
  }

  @if $breakpoint == tab_medium {
    @media only screen and (max-width: 65em) {
      @content;
    }
  }

  @if $breakpoint == tab_large {
    @media only screen and (max-width: 86em) {
      @content;
    }
  }
}
