html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  color: #fff;
}

h1 {
  font-family: 'Montserrat';
  font-size: 2rem;

  @include responsive(phone) {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  @include responsive(phone) {
    font-size: 1.2rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat';
}

p {
  font-size: 0.95rem;
}

* {
  box-sizing: border-box;
}

span.fa-brands {
  font-size: 30px;
}

span.fa-bars {
  font-size: 30px !important;
  display: none;
  &:hover {
    cursor: pointer;
  }

  @include responsive(tab_medium) {
    display: block;
  }
}

span.fa-xmark {
  position: absolute;
  font-size: 35px !important;
  top: 1.5rem;
  right: 2rem;
  &:hover {
    cursor: pointer;
  }
}

i.fa-solid {
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 25rem;
  right: 4rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
  border: #fff solid 1px;
  color: #fff;
  transition: all 0.3s;

  @include responsive(tab_medium) {
    top: 15rem;
    right: 2rem;
  }

  @include responsive(phone) {
    top: 8rem;
    right: 1.8rem;
  }

  & > * {
    stroke: #fff;
    stroke-width: 1;
  }

  &:hover {
    background-color: rgba(211, 211, 211, 0.178);
    transition: all 0.3s;
  }
}

.react-player {
  margin-top: -18rem;

  @include responsive(tab_medium) {
    margin-top: 0;
  }
}

// swiper styles
div.swiper-button-prev::after {
  color: #fff !important;
  border-radius: 3px;
  border: 2px solid #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

div.swiper-button-prev {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

div.swiper-button-next::after {
  color: #fff !important;
  border-radius: 3px;
  border: 2px solid #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

div.swiper-button-next {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.swiper-pagination-bullet-active {
  color: #fff !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
}
