html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span.fa-brands {
  font-size: 22px !important;
}

i.fa-solid {
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 25rem;
  right: 10rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
  border: #fff solid 1px;
  color: #fff;
  transition: all 0.3s;

  @include responsive(tab_medium) {
    top: 15rem;
  }

  @include responsive(phone) {
    top: 8rem;
    right: 4rem;
  }

  & > * {
    stroke: #fff;
    stroke-width: 1;
  }

  &:hover {
    background-color: rgba(211, 211, 211, 0.178);
    transition: all 0.3s;
  }
}

.react-player {
  position: relative;
  margin-top: -18rem;

  @include responsive(tab_large) {
    margin-top: 0;
  }
}
