.featuredVideo {
  height: 40rem;
  margin-bottom: 14rem;

  @include responsive(tab_medium) {
    height: 25rem;
    margin-bottom: 12rem;
  }

  @include responsive(phone) {
    height: 20rem;
    margin-bottom: 4rem;
  }
}

.heading {
  margin-bottom: 2.5rem;
  color: $color-primary;
  width: fit-content;

  @include responsive(phone) {
    margin-bottom: 1.5rem;
  }
}

.studioRecordings {
  @include responsive(phone) {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .albumContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    @include responsive(tab_portrait) {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive(phone) {
      grid-template-columns: auto;
    }

    &__card {
      font-family: 'Montserrat';
      display: flex;
      flex-direction: column;
      text-align: center;

      h2 {
        margin: 0 auto;
      }
      p {
        margin: 0;
        margin-top: 0.2rem;
        color: rgb(199, 199, 199);
      }
    }

    &_text {
      margin-top: 1rem;

      @include responsive(phone) {
        margin-top: 0.5rem;
      }
    }

    &__btn {
      margin-top: 2rem;
      margin-bottom: 1rem;

      & > a {
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 600;
        transition: all 0.3s;
        background-color: transparent;
        border: solid 2px $color-primary;

        &:hover {
          background-color: $color-primary;
          border: solid 2px $color-primary;
        }
      }
    }
  }
}

.mask {
  width: 100%;
  height: 5rem;
  position: relative;
  bottom: 5rem;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(80, 80, 80, 0.192),
    rgba(80, 80, 80, 0.192)
  );

  @include responsive(phone) {
    height: 3rem;
    bottom: 3rem;
  }
}
