.studioRecordings {
  padding-top: 2rem;
  padding-bottom: 6rem;

  @include responsive(tab_medium) {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  @include responsive(phone) {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  & > h1 {
    margin-bottom: 2.5rem;
    border-bottom: 2px solid $color-primary;
    width: fit-content;

    @include responsive(phone) {
      margin-bottom: 1.5rem;
    }
  }

  .albumContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    @include responsive(tab_portrait) {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive(phone) {
      grid-template-columns: auto;
    }

    &__card {
      font-family: 'Montserrat';
      display: flex;
      flex-direction: column;
      text-align: center;

      h2 {
        margin: 0 auto;
      }
      p {
        margin: 0;
        margin-top: 0.2rem;
        color: rgb(199, 199, 199);
      }
    }

    &_text {
      margin-top: 1rem;

      @include responsive(phone) {
        margin-top: 0.5rem;
      }
    }

    &__btn {
      margin-top: 2rem;
      margin-bottom: 1rem;

      & > a {
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 600;
        transition: all 0.3s;

        background-color: transparent;
        border: solid 2px $color-primary;

        &:hover {
          background-color: $color-primary;
          border: solid 2px $color-primary;
        }
      }
    }
  }
}
