.studioRecordings {
  padding-top: 2rem;
  padding-bottom: 2rem;

  & > h1 {
    margin-bottom: 2rem;
  }

  .albumContainer {
    &__card {
      position: relative;
      text-align: center;
      font-family: 'Montserrat';
      margin-bottom: 4.5rem;

      img {
        // border-radius: 5px;
      }

      & > h3 {
        margin: 0;
        margin-top: 0.5rem;
        font-size: 1rem;
      }
      & > p {
        margin: 0;
        margin-top: 0.2rem;
        color: rgb(199, 199, 199);
        font-size: 0.9rem;
      }
    }

    &__btn {
      margin-top: 2rem;
      margin-bottom: 3rem;
      & > a {
        padding: 1rem 2rem 1rem 2rem;
        border: 2px solid $color-primary;
        border-radius: 5px;
        font-weight: 600;
      }
    }
  }
}
